# Dependencies
/node_modules

# Transpiled files
/.next

# Optional npm cache directory
.npm
.cache

# Misc
.DS_Store

# Logs
logs
*.log
yarn*
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*